

<% @ideas.in_groups_of(6) do |group| %>
  <div class="row_doppler">
    <% group.compact.each do |idea| %>
      <div class="col_doppler">
      <%= link_to idea ,class: "gogogo" do%>
      	<span><%= idea.name %></span>
      <% end %>
      <%= link_to idea ,class: "gogo" do %>
        <%= image_tag idea.picture_url, width: '105%' if idea.picture.present?%>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>