<div class="form_all">
	<h1 class="form_title" >New Idea</h1>

	<div class="form_doppler">
		<%= render '/layouts/form' %>
		<label type="file" for="idea_picture" id="real_file">上傳檔案</label>
	</div>
</div>

